# Operating System, Python & IDE
.DS_Store
.idea/
.vscode/
*.swp
*~
__pycache__/
*.pyc

# Build artifacts and debug symbols
*.dSYM/
*.o
*.obj
*.a
*.so
*.dylib
*.out
*.log
build/
.cache/

# Executables & test binaries
/halo_*
!/halo_playground.py
/test_*
